@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	width: 100vw;
	color: white;
}
.header,
.footer {
	background-color: #171717;
	display: grid;
	align-items: center;
	padding: 0px 0px 0px 5px;
	width: 100%;
	box-shadow: 0px 0px 15px 2px rgba(23, 23, 23, 1);
}
.header,
.footer,
.sidemenu {
	font-family: "Raleway", sans-serif;
}
.fakeheader {
	height: 60px;
}
.header {
	justify-content: space-between;
	display: flex;
	height: 60px;
	font-size: 1.2rem;
	position: fixed;
}
.header .logo {
	display: flex;
	align-items: center;
}
.header .logo img {
	height: 60px;
}
.content-wrap {
	height: calc(100vh - 60px);
	overflow-y: scroll;
}
.content {
	background-color: lightgray;
	overflow: hidden;
	display: grid;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.75)
		),
		url("../imgs/bg-temp.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	gap: 10vh;
	padding: 10vh 0;
}
.section {
	width: 100%;
	background-color: rgba(97, 97, 97, 0.65);
	text-align: center;
	font-family: "Raleway", sans-serif;
	box-shadow: 0px 0px 44px 5px rgba(31, 31, 31, 1);
}
.section header {
	font-size: 1.5vmax;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 44px 5px rgba(31, 31, 31, 1);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	-webkit-text-stroke: 1px black;
	background-color: rgba(255, 255, 255, 0.5);
}
.section .text {
	font-size: 1.2vmax;
	padding: 15px;
	font-weight: normal;
}
.footer {
	justify-content: center;
	height: 50px;
}
@media only screen and (max-width: 1440px) {
	.section .text {
		font-size: 1.5vmax;
	}
}
@media only screen and (max-width: 1024px) {
	.section .text {
		font-size: 1.8vmax;
	}
}
@media only screen and (max-width: 768px) {
	.section .text {
		font-size: 2.1vmax;
	}
}
@media only screen and (max-width: 600px) {
	.header {
		grid-template-columns: 1fr;
		display: grid;
	}
	.menumobile {
		position: absolute;
	}
	.header .logo {
		justify-content: center;
	}
	.section header {
		font-size: 1.8vmax;
	}
	.section .text {
		font-size: 2.5vmax;
	}
}
